body{
    font-family: 'Montserrat', sans-serif;
}

/* header css */

#title{
    background-color: #ff4c68;
}

.nav-item{
    padding: 0 18px;
    font-size: 1.2rem;
}

.navbar{
    padding: 0 0 4.5rem;
}

h1{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

.container-fluid{
    padding: 3% 15% 5% 15%;
}

.navbar-brand{
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
}


.header-img {
    transform: rotate(25deg);
    width: 60%;
    margin-left: 10%;
  }



.download-button{
    margin: 5% 3% 5% 0;
}


/* features section */
.features-h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

p{
    color: #8f8f8f;
}

#features{
    
    padding: 7% 15% 0 15%;
    background-color: white;
    position: relative;
    z-index: 2;
    bottom: 150px;
}

.feature-card{
    text-align: center;
    padding: 0 4%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
    
}

.icon:hover{
    color: #ff4c68;
}

/* testimonial section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2{
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}


/* press section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;

}

/* pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/* cta section */

#cta{
    background-color: #ff4c68;
    padding: 7% 15% 7% 15%;
}
.cta-content{
    
    margin: auto;
    text-align: center;
}

.cta-h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    
    font-size: 3.5rem;
    line-height: 1.5;
    
}

/* footer section */

#footer{
    text-align: center;
    padding: 7%;
    background-color: #fff;

}

.foot-link{
    color: black;
    padding: 1% 0.75%;
}






/* media Queries */

@media (max-width: 1270px) {
    h1{
        font-size: 3rem;
    }
    .header-img {
        width: 50%;
        margin-left: 10%;
      }
     
}

@media (max-width: 1200px) {
    h1{
        font-size: 2rem;
    }
    .header-img {
        width: 45%;
        margin-left: 10%;
      }

      #title{
        margin-bottom: 5%;
      }
     
}

@media (max-width : 1030px) {
    .header-img{
         position: static;
         transform: rotate(0);
    }
    #title{
        text-align: center;
        
    }
    
    h1{
        font-size: 2rem;
    }
    .download-button{
        
        font-size: 1rem;
    }
    
    
}
